{% extends 'base.html' %} {% load custom_filter %} {% block title %} {{user}}
{%endblock %}

<div>
  {% block body_block %}
  <div>
    {% for blog in user.post_author.all %}
    <h3>{{blog.blog_title}}</h3>
    <p>{{blog.publish_date}}</p>

    <div class="row">
      <div class="col-sm-4">
        <img
          src="/Media/{{blog.blog_image}}"
          alt="{{blog.blog_title}}"
          title="{{blog.blog_title}}"
          width="100%"
        />
      </div>
      <div class="col-sm-8">
        <p>{{blog.blog_content|range_filter|linebreaks}}</p>
        <a href="{% url 'App_Blog:blog_details' slug=blog.slug %}">Read More</a>
        <p>Create by: <a href="">@{{blog.author}}</a></p>
        <h6>
          {{blog.like_blog.count}} Likes | {{blog.blog_comment.count}} Comment
        </h6>
      </div>
      <a
        href="{% url 'App_Blog:edit-blog' pk=blog.pk %}"
        class="btn btn-info btn-sm"
        >Edit</a
      >
    </div>

    <hr />
    <br />
    <br />
    {% endfor %}
  </div>
  {% endblock %}
</div>
